{% extends 'root.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css')}}">
    <script defer src="myScript.js"></script>
    <title>Login page</title>

{% endblock %}

{% block body %}

  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">or password</span></p>
    </div>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">

      <input type="submit" value="Login" id="login-form-submit"> <br><br>

      <span class="psw" style="background-color:white"><a href="change-password.html">Forgot password?</a></span>
     
    </form>  
  
  </main>

  {% endblock %}
